<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Index</title>
</head>
<body>
    <div class='container'>
        <h1>{{result}}!</h1></br>
        <button type="button" class="btn btn-link"><a href="/">Click here to play again!</a></button>
    </div>
</body>
</html>
