<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Index</title>
</head>
<body>
    <div class='container'>
        <h1>Rock Paper Scissors!</h1>
        <h2>Ready Player 1</h2>
        <form action="/player2_choice" method="post">
            <button name="player1_input" value="0" type ="submit">Rock</button>
            <button name="player1_input" value="1" type ="submit">Paper</button>
            <button name="player1_input" value="2" type ="submit">Scissors</button>
        </form>
    </div>
</body>
</html>
